* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

nav {
  background-color: #FFD391;
}
nav .container-fluid a {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}

#intro .container-fluid {
  height: 100%;
  background-color: #DAAC67;
}

#intro {
  height: 290px;
  background-color: #DAAC67;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8em;
}
#intro .row .col {
  max-width: 770px;
}
#intro .row p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
#intro .row .col h2 {
  font-weight: 700;
  font-family: "Comfortaa", cursive;
}

#objetivo {
  height: 100%;
  background-color: #66A7D9;
  color: antiquewhite;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8em;
}
#objetivo .row .col {
  max-width: 770px;
}
#objetivo .row p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
#objetivo .row .col h2 {
  font-weight: 700;
  font-family: "Comfortaa", cursive;
}

.lenguaje {
  height: 220px;
  font-size: 0.8em;
  border: solid #FFD391;
  border-radius: 10px;
  text-align: center;
  padding: 5%;
  margin-bottom: 20px;
}

#proyectos {
  height: 100%;
  background-color: #FFD391;
  color: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8em;
}
#proyectos h2 {
  text-align: center;
}
#proyectos .col-12.col-sm-4.mb-4 {
  text-align: center;
  font-size: 0.8em;
}
#proyectos .card {
  font-family: "Comfortaa", cursive;
}
#proyectos .card h3 {
  font-weight: 700;
}
#proyectos .card a {
  padding-top: 5px;
  height: 100%;
  width: 95px;
  border-radius: 25px;
  font-size: 0.8em;
  margin-bottom: 10px;
  font-weight: 700;
  color: #8C6934;
  border: solid #8C6934;
}

#contacto {
  height: 200px;
  background-color: #66A7D9;
  color: #FFD391;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8em;
}

#footer {
  height: 60px;
  background-color: #8C6934;
  font-family: "Comfortaa", cursive;
}
#footer a {
  text-decoration: none;
  color: #FFD391;
  font-weight: 300;
}
#footer button {
  text-decoration: none;
  background: none;
  border: none;
  color: #FFD391;
}