//- variables
$color1:#8C6934;
$color2:#FFD391;
$color3: #DAAC67;
$color4:#26608C;
$color4: #66A7D9;

//- Fuentes
$Fuente1: 'Montserrat', sans-serif ;
$Fuente2: 'Comfortaa', cursive;

* {
     box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    

}

nav {
    background-color: $color2;
    .container-fluid a  {
        font-family: $Fuente1;
        font-size: 1em;
    
}}

#intro {
    .container-fluid {
        height: 100%;
        background-color: $color3;
    }
}

#intro {
    
    height: 290px;
    background-color: $color3;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    .row {
        
        .col
            {
                max-width: 770px;
            } 
            p {
            font-family: $Fuente1;
            font-weight: 500;
        }
        .col h2 {
            font-weight: 700;
            font-family: $Fuente2;
        }    
    }
}

#objetivo {
    height: 100%;
    background-color: $color4;
    color: antiquewhite;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    .row {
        
        .col
            {
                max-width: 770px;
            } 
            p {
            font-family: $Fuente1;
            font-weight: 500;
        }
        .col h2 {
            font-weight: 700;
            font-family: $Fuente2;
        }    
    }
}

.lenguaje {
    height: 220px;
    font-size: 0.8em;
    border: solid $color2;
    border-radius: 10px;
    text-align: center;
    padding: 5%;
    margin-bottom: 20px;
}

#proyectos {
     height: 100%;
    background-color: $color2;
    color: black;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    h2 {
        text-align: center;
    }
    .col-12.col-sm-4.mb-4 {
        text-align: center;
        font-size: 0.8em;
    }

    .card { 
        font-family: $Fuente2;
        h3 {
            font-weight: 700;
        }
        a {
        padding-top: 5px;
        height: 100%;
        width: 95px;
        border-radius: 25px;
        font-size: 0.8em;
        margin-bottom: 10px;
        font-weight: 700; 
        color: $color1;
        border: solid $color1;
      }  
     
      
    }
}

#contacto {
    height: 200px;
    background-color: $color4;
    color: $color2;
    font-family: $Fuente1;
    font-size: 1.8em;
}

#footer {
    height: 60px;
    background-color: $color1;
    font-family: $Fuente2;
    a {
        text-decoration: none;
        color: $color2;
        font-weight: 300;
    }
    button {
        text-decoration: none;
        background: none;
        border: none;
        color: $color2;

    }
}

